* {
    margin: 0;
    padding: 0;
}

.logo {}

.emon {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;


}

.menu {
    display: flex;
    list-style: none;
    padding: 24px 365px;
    gap: 32px;

}

.home {
    font-weight: bold;
    background-color: #30b868;
    color: aliceblue;
    border-radius: 7px;
    width: 164px;
    height: 44px;
}

.back-img {
    background-image: url(./assets/hero-bg.png);
    display: flex;
    height: 774px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.pen {

    /* height: 295px; */
    justify-content: center;

    margin: 0 auto;

}

.easy {
    font-weight: bold;
    background-color: aliceblue;
    color: #30b868;
    border-radius: 18px;
    gap: 6px;
    padding: 8px 12px;
}

.line {
    text-align: center;
    font-size: xxx-large;
    color: aliceblue;
}

.line-1 {
    text-align: center;
    font-size: 60px;
    color: #30b868;
}

.line-2 {
    text-align: center;
    font-size: 18px;
    gap: 20px;
    color: white;
}

.margin {
    margin-top: 10px;
    gap: 16px;
    padding: 16px;
}

.batton {
    font-weight: bold;
    background-color: #30b868;
    font-size: 17px;
    color: aliceblue;
    text-align: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 14px;


}

.batton-1 {
    font-weight: bold;
    background-color: #30b868;
    font-size: 17px;
    color: aliceblue;
    text-align: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 14px;
}

.font size {
    display: flex;
    justify-content: center;
}

.size-1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding: 40px;

}

.size-2 {
    text-align: center;
    color: #627382;
}

.text {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;


}

.a {
    gap: 10px;

    text-align: center;
    box-shadow: black;
    padding: 50px;


}

.x {
    background: red;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}


.y {
    background: red;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.b {
    gap: 10px;

    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    padding: 50px;
}

.c {
    gap: 10px;

    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    padding: 50px;
}

.z {
    background: red;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.d {
    gap: 10px;

    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    padding: 50px;
}

.h {
    background: red;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.light {

    display: flex;

    align-items: left;

    margin: 10px;
    border-radius: 18px;
    text-align: left;
    justify-content: flex-start;
    padding: 120px;
}

.backgarund {
    background-image: url(assets/knowledge.png);
    width: 30%;
    height: 55vh;
}

.active {
    margin: auto;
    text-align: left;
    justify-content: center;
    border: 10px;
}

.atv {
    font-style: Medium;
    font-size: 30px;
    text-align: left;
    padding: 40px 50px;
    color: green;
}

.hd {
    color: black;
    font-style: Bold;
    font-size: 70px;
    text-align: left;
    justify-content: left;
    padding: 26px;


}

.pn {
    font-size: 16px;
    color: #627382;
    text-align: center;
    padding: 10px;

}

.camel {
    font-size: 25px;
    padding: 16px;
  
}

.devel {
   
    
    max-width: 70%;
    margin: 50px auto;
    border-radius: 12px;
background: rgba(247, 246, 242, 1);
    text-align: center;
    justify-content: center;
    padding: 80px 40px;
   
}

.web {
    font-size: 80px;
    text-style: bold;
    color: black
    
}

.ment {
    color: #627382;
    font-size: 16px;
    padding: 10px;
}

.batton-3 {
    font-weight: bold;
    background-color: #30b868;
    font-size: 17px;
    color: aliceblue;
    text-align: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 14px;
     text-style: bold;

}
.choise{
    color: #627382;
    font-size: 20px;
    gap: 20px;
    padding: 20px;
    
}
.note{
   display: flex;
    justify-content: space-between;
   
    
    
}
.admit{
    padding: 130px 130px 130px 40px;
}

.footer{
     background-color: #0a1f33;
}
.copyright{
    text-align: center;
    color: white;
    padding-bottom: 25px;
    
}
.Social{
    color: white;
    font-size: 16px;
    
    gap: 40px;
}
.logo-1{
    color: white;
}

.fa-solid-green {
color: green;

}
.fa-brands{
   color: white; 
   display: flex;
 justify-content: space-between;
    align-items: center;
} 
.pncil{
    display: flex;
    gap: 10px;
}
